
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form_registro{
    width: 400px;
    height: 300px;
    margin: 10px;
    background: beige;
    
    border-radius: 20px;
}
.button{
    background-color: rgb(81, 245, 6);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px 10px 100px;
    cursor: pointer;
    border-radius: 16px;
    width: 150px;
}
.control {
    background-color: #ababac;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 1em;
    border: none;
    padding: 0 16px;
    width: 200px;
    height: 20px;
}
.controll{
    background-color: #ababac;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 1em;
    border: none;
    padding: 0 16px;
    width: 200px;
    height: 20px;
}
input[name="correo"] {
    background-color: #ababac;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 1em;
    border: none;
    padding: 0 16px;
    width: 200px;
    height: 20px;
}
input[name="contrasena"] {
    background-color: #ababac;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 1em;
    border: none;
    padding: 0 16px;
    width: 200px;
    height: 20px;
}
.form-titulo{
    width: 600px;
    height: 400px;
    margin: 10px;
    padding: 0;
    background: beige;
    
    border-radius: 20px;
}
h1{
    background: rgba(114, 204, 41, 0.911);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 0px;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
h2{
    background: lime;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
p {
    background: #0a8b05;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 30px;
    margin: 20px 0px 0px 0px;
}